html {
    font-size: 14px;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card {
    width: 37.14rem;          
    height: 28.57rem;         
    background-color: white;
    border-radius: 0.71rem;   
    display: flex;
    gap: 1.78rem;             
    justify-content: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.desktop-image {
    width: 18.57rem;          
    height: 28.57rem;         
    border-top-left-radius: 0.71rem;     
    border-bottom-left-radius: 0.71rem;  
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subheading {
    margin-top: -1.42rem;     
}

.title {
    font-family: 'Fraunces', serif;
    font-size: 2.28rem;       
    line-height: 2.14rem;     
    margin: 0.35rem 0;    
}

.desc {
    font-size: 1rem;          
    font-weight: 500;
    margin: 0.71rem 0;        
}

.price {
    display: flex;
    align-items: center;
    gap: 1.42rem;             
    margin: 0.71rem 0;        
}

.current-price {
    font-size: 1.92rem;       
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.original-price {
    text-decoration: line-through;
    font-weight: 500;
}

.add-to-cart-btn {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 0.57rem;        
    padding: 1.07rem;              
    font-size: 1rem;               
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.71rem;                  
    width: 15.71rem;               
    justify-content: center;
}

.gray {
    color: hsl(228, 12%, 48%);
}

.add-to-cart-btn:hover {
    background-color: hsl(158, 42%, 18%);
    cursor: pointer;
}

.mobile-image{
    display: none;
}

@media (max-width: 400px) {

    .product-card {
        flex-direction: column;
        width: 100%;
        height: auto; 
        gap: 3rem;
        border-radius: 0.71rem;
        overflow: hidden;
    }

    
    .desktop-image {
        display: none;
    }

    
    .mobile-image {
        display: block;
        width: 100%;
        height: 22rem;                    
        overflow: hidden;
        border-radius: 0.71rem 0.71rem 0 0;
    }

    .mobile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;                
        object-position: top;             
    }

    .info {
        width: 100%;
        padding: 1.5rem;
    }

    .title {
        font-size: 2rem;
        line-height: 1.9rem;
    }

    .desc{
        font-size: 1.2rem;               
        font-weight: 550;
        padding-right: 2rem;                     
        line-height: 1.8rem;             
    }

    .add-to-cart-btn {
        width: 90%;
    }
}


